<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <div>
        <p>All users</p>
        {% for user in users['first'] %}
            <p>Name:{{user['name']}} | Street:{{user['street']}} | City:{{user['city']}} | Zipcode:{{user['zipcode']}}</p>
        {% endfor %}
    </div>

    <br>

    <div>
        <p>Users who live(s) in “Roscoeview”</p>
        {% for user in users['second'] %}
            <p>Name:{{user['name']}} | Street:{{user['street']}} | City:{{user['city']}} | Zipcode:{{user['zipcode']}}</p>
        {% endfor %}
    </div>

    <br>

    <div>
        <p>First 5 users</p>
        {% for user in users['third'] %}
            <p>Name:{{user['name']}} | Street:{{user['street']}} | City:{{user['city']}} | Zipcode:{{user['zipcode']}}</p>
        {% endfor %}
    </div>

    <br>

    <div>
        <p>Users which zipcode starts with the number 5</p>
        {% for user in users['fourth'] %}
            <p>Name:{{user['name']}} | Street:{{user['street']}} | City:{{user['city']}} | Zipcode:{{user['zipcode']}}</p>
        {% endfor %}
    </div>

</body>
</html>