<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <nav>
      <ul>
          <li>
              <a href='{{url_for("color_page", color="blue")}}'>blue</a>
          </li>
          <li>
              <a href='{{url_for("color_page", color="red")}}'>red</a>
          </li>
          <li>
              <a href='{{url_for("color_page", color="green")}}'>green</a>
          </li>
          <li>
              <a href='{{url_for("color_page", color="yellow")}}'>yellow</a>
          </li>
      </ul>
  </nav>
</body>
</html>