
{% extends "index.html" %}

{% block title %}Cart{% endblock %}

{% block page_detail %}

    <div class="container">
        <h2>User Cart</h2>
        <ul class="list-group">
            <li class="list-group-item fs-4">Items cart</li>
          
            {% for product in cart_items %}
            <li class="list-group-item">
                <span class="fs-5">Pet: {{product['name']}}.  Price: {{product['price']}}</span>
                <br>
                <a href="{{url_for('delete_pet_page', pet_id=product['id'])}}" class="btn btn-primary bg-warning border-warning mt-2">Remove</a>
            </li>
            {% endfor %}

            <li class="list-group-item fs-4">Total: {{total}}</li>
        </ul>
    </div>

{% endblock %} 
