 
{% extends "index.html" %}

{% block title %}Product details{% endblock %}

{% block title_page %}
    {{ product['Name'] }}
{% endblock %}

{% block text_page %}
    
    {% if product['Quantity'] > 0 %}
    <div class="alert alert-success" role="alert">
        This product is currently available. Order while stocks last!
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
        Sorry - this product currently out of stock!
    </div>
    {% endif %}

{% endblock %} 

{% block page_detail %}


    <div class="container mt-2">   
        <div class="card">
            <div class="card-header">
                Pet detail
            </div>
            <div class="text-center">
                <img src="{{url_for('static', filename=pet['image'])}}" class="card-img-top w-75">
                <div class="card-body">
                <p class="card-text">Name: {{ pet['name'] }}</p>
                <p class="card-text">Gender: {{ pet['gender'] }}</p>
                <p class="card-text">Breed: {{ pet['breed'] }}</p>
                <p class="card-text">Date of birth: {{ pet['date_of_birth'] }}</p>
                <p class="card-text">Details: {{ pet['details'] }}</p>
                <p class="card-text">Price: {{ pet['Price'] }}</p>
                <br>
                <a href="{{url_for('add_pet_page', pet_id=pet['id'])}}" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
