 
{% extends "index.html" %}

{% block title %}Products{% endblock %}

{% block page_detail %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
            $(function() {
              $('a.add_button').bind('click', function(e) {
                e.preventDefault()
                $.getJSON('/add_product_to_cart_from_products/' + e.target.id,
                    function(data) {
                  //do nothing
                });
                return false;
              });
            });
    </script>

    <div class="container">
        <h2>Products</h2>
    </div>

    {% for product in products %}
        <div class="container mt-2">   
            <div class="card">
                <img src="{{url_for('static', filename=product['ProductPicUrl'])}}" class="card-img-top w-25">
                <div class="card-body">
                <h5 class="card-title">{{ product['ProductId'] }}</h5>
                <p class="card-text">Price: {{ product['Price'] }}</p>
                <a href="{{url_for('product_details_page', product_id=product['ProductId'])}}">See item details</a>
                <br>
                <a href="#" id='{{product["ProductId"]}}' class="add_button btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
    {% endfor %}
    
{% endblock %} 