<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>CV</title>
</head>
<body>
    <h1>Kirill Lunev</h1>
    <img src="./foto.jpeg" alt="">
    <div class="cv_block">
        <h2>Hobbies</h2>
        <ul>
            <li>Boxing</li>
            <li>Music</li>
            <li>TV shows</li>
        </ul>
    </div>
    <div class="cv_block">
        <h2>Skills</h2>
        <ul>
            <li>Programming</li>
            <li>Self-learning</li>
        </ul>
    </div>
    <div class="sides">
        <div class="cv_block">
            <h2>My strong sides</h2>
            <ul>
                <li>Problem-solving</li>
                <li>Attention to details</li>
            </ul>
        </div>
        <div class="cv_block">
            <h2>My weak sides</h2>
            <ul>
                <li>Creativity</li>
                <li>Math tasks</li>
            </ul>
        </div>
    </div>
</body>
</html>