 
{% extends "index.html" %}

{% block title %}Products{% endblock %}

{% block page_detail %}

    <div class="container">
        <h2>Products</h2>
    </div>

    {% for product in products %}
        <div class="container mt-2">   
            <div class="card">
                <img src="{{url_for('static', filename=product['ProductPicUrl'])}}" class="card-img-top w-25">
                <div class="card-body">
                <h5 class="card-title">{{ product['ProductId'] }}</h5>
                <p class="card-text">Price: {{ product['Price'] }}</p>
                <a href="{{url_for('product_details_page', product_id=product['ProductId'])}}">See item details</a>
                <br>
                <a href="{{url_for('product_details_page', product_id=product['ProductId'])}}" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
    {% endfor %}
    
{% endblock %} 